[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<2.3"
pillow = "*"
python-dotenv = "*"
dj-database-url = "*"
raven = "*"
django-grappelli = "*"
sorl-thumbnail = "*"
sorl-watermark = {git = "https://github.com/originell/sorl-watermark.git", editable = true}

[dev-packages]
coverage = "*"
coveralls = "*"
pylint = "*"
pylint-django = "*"
"pep8" = "*"

[requires]
python_version = "3.6"
