[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = "*"
dj-database-url = "*"
raven = "*"
"mysqlclient" = "*"
django-grappelli = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
pylint = "*"
pylint-django = "*"
"pep8" = "*"

[requires]
python_version = "3.6"
