{% extends 'base.html' %}
{% load thumbnail %}


{% block container %}
    <div class="breadcrumbs">
        / Event: <a href="/gallery/event/{{ object.gallery.event.pk }}">{{ object.gallery.event.name }}</a> / 
        Client: <a href="/gallery/client/{{ object.gallery.client.pk }}">{{ object.gallery.client.name }}</a> /
        Gallery: <a href="/gallery/{{ object.gallery.pk }}">{{ object.gallery.name }}</a> /
    </div>
    <div class=row>
        <div class="col-md-8">
            {% thumbnail object.image "800x600" crop="center" as im %}
                <img class="img-fluid" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </div>

        <div class="col-md-4">
            <div class="bg-light border p-3">
                <h3>Purchase Prints</h3>
                
                <form method="POST" action="{% url 'Gallery:AddPrintsToCart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="Pictures" value='{{ object.pk }}' />
                    {% for pricePoint in object.gallery.price_points.all %}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="PriceOptions{{pricePoint.pk}}" name="PriceOptions" value="{{pricePoint.pk}}">
                            <label class="form-check-label" for="PriceOptions{{pricePoint.pk}}">{{ pricePoint.name }} - {{ pricePoint.price }}</label>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Add To Cart</button>
                </form>
                    
            </div>
        </div>
    </div>
{% endblock container %}
    