{% extends 'base.html' %}
{% load static %}


{% block container %}
    <img class="img img-responsive" src="{% static '/Site/about.jpeg' %}"/>
    <p>Meet the photographer, Shannon Lee.

        With nearly ten years of experience with animals, I’ve worked hard to build a stunning collection of photos that capture everything you love about your little angel! I can’t wait to get to know everything you love and cherish about your own loving pet. I use my experience with animals to help me connect with them, giving them a comfortable environment to be in. At the end of the day, I’m in it for the animals.
        
        Past employee of Creature Comforts Pet Resort, and currently working at the Dunkirk PetsMart, I spend most of my time surrounded by animals. I’ve worked with over a thousand different pets and with each pet I meet I learn more about how every single one has its own personality and charm. I strive to bring out what makes your pet so special in each of my pictures.
        
        I can’t wait to meet your bundle(s) of love and help create lasting memories.</p>
{% endblock container %}
    