{% extends 'base.html' %}


{% block container %}
    <p>Lets get together! I am very flexible with where I am willing to meet you. From your homes, to parks and beaches, I’m willing to meet you anywhere.</p>

    <h5>Sessions will be priced as the following:</h5>
    
    <ul>
        <li>1 hour fee: $100</li>
        <li>15 minutes after 1st hour: $25</li>
        <li>Costume rental: $10</li>
    </ul>

    <p>I prefer to schedule two sessions in advance as well as one (free) 15 minute meet-and-greet before a session. Having the two covers if we get bad weather for outdoor shoots, sick animals, other conflicts, or if you are unsatisfied with the pictures taken. Any session not use will not be billed. You can decide to rent a costume at the shoot. I have several bandanas, and other such sweaters, or collar pieces to make your cutie even cuter. You may pick from as many costumes as you like. Some costumes may not be available in your sweetheart’s size. Price covers as many or as few costume pieces you would like to use. </p>

    <p>
        My name is Shannon, contact me here:<br/>
        Email: <a href="mailto:Shannon@pawsandawws.photography">Shannon@pawsandawws.photography</a><br/>
        Phone: <a href="tel:7164019360">(716) 401-9360</a><br/>
    </p>
{% endblock container %}
    